<p style="color: green"><%= notice %></p>

<%= render @sale %>

<div>
  <%= link_to "Buy Cart", products_path %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this cart", @sale, method: :delete %>
</div>